*.out
*.swp
*.pdf
*.zip
*.bak
.well-known/
test.html
admin/node_modules
client/node_modules
mobile/node_modules
server/node_modules
server/sessions/*
server/storage/*
.vscode/
*.DS_Store
server/package-lock.json
./TODO.md
.DS_Store
docker.env
push.sh
deploy.sh
