.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 30s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: left;
  gap: 10px; /* 이미지와 텍스트 사이 간격 */
  margin-left : 8px;
  margin-top : 7px;
}

.svInfo {
  position: fixed;
  text-align: right;
  width: 95%;
  color: red;
  font-size : X-large;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
